/target/
Cargo.lock
**/*.rs.bk
.DS_Store
node_modules
build
.svelte-kit
package
.env
.env.*`
!.env.example
/documents/
/vendor/
package-lock.json
.idea
*.dll
**/.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix
